* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.sidebar {
    
position: absolute;
width: 13vw;
height: 100vh;
left: 0px;
top: 0px;

background: #CEF3FF;
}


.logo {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    color: #0884FF;
}

.dashboard {
    width: 100%;
    text-align: center;
    padding-top: 30px;
}
.dashboard img {
    width: 5vw;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px  10px 0 10px;
    font-size: 12px;
    background-color: #0884FF;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.contact span {
    margin-left: 10px;
}

.logout {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10vh;
    /* font-size: small; */
   padding-top: 60vh;
}

.logout button {
    margin: 0 6vw 0 0px;
    font-weight: bold;
    background-color: #CEF3FF;
    border-style: none;
}
.logout img {
    margin: 0 0 0 3vw;
}